* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

pre {
  font-family: Courier, Consolas, monospace;
  font-size: 13px;
  line-height: 18px;
  tab-interval: 0.5em;
  border: 1px solid #C7CFD5;
  background-color: #F1F5F9;
  color: #666;
  padding: 0.3em 1em;
}

code {
  font-family: Courier, Consolas, monospace;
  font-size: 13px;
  color: #666;
}

table, td, th{
  border: 1px solid black;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: none;
}

#main ul li:before { 
  content:"-"; 
  position:relative; 
  left:-5px;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#main h2{
  text-transform: uppercase;

  font-size: 20px;

  color: #d2431b;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}
